@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
    }

    .content, .content-formulario {
        width: 50vw;
    }

    .titulo {
        font-size: 3rem;
    }

    .content-fases > h2 {
        font-size: 3rem;
    }

    .imagens-fases {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .imagens {
        height: 300px;
    }

    .imagens:hover {
        height: 290px;
    }

    .social-media {
        width: 15vw;
    }
}