*{
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
}

:root {
  --black: #000000;
  --formulario: #f1f1f1;
  --branco: #ffffff;
  --azul-claro: #327AFF;
  --azul-escuro: #34495E;
}

.content {
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/predio.jpg');
  background-color: rgba(0, 0, 0, 1);
  background-size: cover;
  background-position: 50% 50%;
  color: var(--branco);
  display: flex;
  align-items: center;
}

span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span > h2 {
  font-size: 2rem;
}

span > p {
  font-size: 12px;
}

.formulario {
  background-color: var(--formulario);
}

.content-formulario {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.apresentacao {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.titulo {
  font-weight: bold;
  font-size: 2rem;
  color: var(--azul-escuro);
}

.p1 {
  margin-top: 1rem;
  font-weight: bold;
}

.p1, .p2 {
  font-size: .9rem;
}

.p2 {
  padding: 0px 15px;
}

.email {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.email > input {
  width: 80%;
  border-radius: 2rem;
  border: 1px solid gray;
  padding: .5rem;
  
}

.email > button {
  width: 80%;
  border-radius: 2rem;
  padding: .5rem;
  border: none;
  background: linear-gradient(90deg, #34495E 0%, #327AFF 100%);
  color: var(--branco);
}

.content-fases {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.content-fases > h2 {
  font-weight: bold;
}

.imagens-fases {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}

.imagens {
  height: 130px;
  cursor: pointer;
  transition: 1s;
}

footer {
  width: 100vw;
  margin-top: 3rem;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.developer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
}

.social-media {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-media > a {
  color: var(--black);
}








